<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<p>ありがとうございます。</p>
	<p>意見をまとめてハウルさんに伝えます。<br /><br />-------------------------------------------<br />株式会社アークネット<br />　システム開発グループ<br />　　渡辺　宗幸<br />TEL:019-651-0411<br />FAX:019-651-0439<br />E-MAIL:watanabe@arknetjapan.co.jp<br />-------------------------------------------<br /><br />2024-07-02
		11:01:32、照井　潤 &lt;terui@arknetjapan.co.jp&gt;のメール:<br /><br /></p>
	<p>お疲れ様です。</p>
	<p>カタログの目的を教えて貰えますか？</p>
	<p>目を引く目的であれば多分説明を求められるのでそこで説明出来る商品であれば良いのですが。</p>
	<p>&nbsp;</p>
	<p>○ZENCHIのカタログ</p>
	<p>・どこかに提供形態の記載があった方が良いのかも。</p>
	<p>　それを集客の目的にするのであれば不要です。</p>
	<p>・２ページ目　関連値の説明で「便利な参考値」とは何ですか？と聞かれると思います。</p>
	<p>　　　　　　　反応率　「例え特売商品にしたら、どれくらいの影響があるのかイメージ出来ます。」</p>
	<p>　　　　　　　　　　　　　&darr;</p>
	<p>　　　　　　　　　　　「例えば特売商品として選択した場合の影響度をイメージ出来ます。」とか？</p>
	<p>　　　　　　　貢献度　「部門や単品の貢献って、何を基準にしているのでしょうか？目的によって「貢献」の定義が違います。</p>
	<p>　　　　　　　　　　　　ZENCHIでは「貢献」の値をあらゆる場面で応用できるように算出されています。」</p>
	<p>　　　　　　　　　　　　　&darr;</p>
	<p>　　　　　　　　　　　「部門や単品の貢献は、何を基準にしているのでしょうか？目的によって「貢献」の定義が違います。</p>
	<p>　　　　　　　　　　　　ZENCHIでは「貢献」の値をあらゆる場面で応用できるように算出されています。」</p>
	<p>　　　　　　　　　　　　※ただこの説明を求められた場合、回答できるんですよね？</p>
	<p>&nbsp;</p>
	<p>○みちNOEKI管理システム</p>
	<p>・どこかに提供形態の記載があった方が良いのかも。</p>
	<p>　それを集客の目的にするのであれば不要です。</p>
	<p>・何か出来ているのがあれば、画面が欲しいですね。</p>
	<p>・２ページ目も文字ではなく、なにか「売り場」「生産者」「従業員」などの</p>
	<p>　イラストを使用してどの場面で使用する機能なのかを作成した方が分かりやすいのでは？</p>
	<p>　いまいち「誰？」に対してのシステムか分かりずらいので。</p>
	<p>&nbsp;</p>
	<p>以上</p>
	<p><br />*********************************<br />株式会社　アークネット<br />　　システム開発グループ<br />　 　照井　潤
		<br />TEL：019-651-0411<br />FAX：019-651-0439<br />住所：〒020-0021<br />　　　　岩手県盛岡市中央通１－６－３０<br />Mail：terui@arknetjapan.co.jp<br />*********************************<br /><br /><br />2024-07-02
		10:06:32、渡辺　宗幸 &lt;watanabe@arknetjapan.co.jp&gt;のメール:<br /><br /></p>
	<p>照井さん、小國さんへ</p>
	<p>お疲れ様です。渡辺です。</p>
	<p>ハウルさんからエクナ祭りのZENCHIと産直システムの原稿がきたので<br />チェックおよび意見をお願い致します。</p>
	<p>私の方でまとめてハウルさんに返しますので、可能な限り午前中にお願いします。</p>
	<p>お忙しいところ申し訳ありませんが宜しくお願い致します。</p>
	<p><br />-------------------------------------------<br />株式会社アークネット<br />　システム開発グループ<br />　　渡辺　宗幸<br />TEL:019-651-0411<br />FAX:019-651-0439<br />E-MAIL:watanabe@arknetjapan.co.jp<br />-------------------------------------------<br /><br />2024-07-02
		09:30:42、ハウル &lt;c_haru@arknetjapan.co.jp&gt;のメール:<br /><br /></p>
	<p>渡辺さん、</p>
	<p>お疲れ様です。</p>
	<p>産直とZENCHIのカタログを添付で送信いたします。</p>
	<p>確認よろしくお願いいたします。<br /><br />********************************<br />株式会社　アークネット　ハウル<br />〒020-0021　盛岡市中央通一丁目6-30<br />TEL
		019-651-0411　FAX 019-651-0439<br />********************************</p>

</body>

</html>